/* reset browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 500px;
  background-color: pink;
  display:flex
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.box-2 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

