/* reset browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1250px;
    /* height: 500px; */
    /* background-color: pink; */
    margin: auto;
}

/* header-top */
.header-top{
    background-color: white;
    width: 100%;
    height: 80px;
}

.wrap-header-top{
    display: flex;
}

.header-top-left{
    width: 20%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
}

.header-top-left img{
    width: 200px;
}

.header-top-center{
    width: 50%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: white;
}

.header-top-center input{
    width: calc(100% - 40px);
    height: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 5px 0 0 5px;
    padding: 0 20px;
    outline: none;
}

.header-top-center button{
    width: 40px;
    height: 35px;
    background-color: #594A4E;
    border-radius: 0 5px 5px 0;
    border: 1px solid transparent;
}

.header-top-center button i{
    color: white;
    font-size: 15px;
}

.header-top-right{
    width: 30%;
    height: 80px;
    background-color: white;
}

.header-top-right ul{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.header-top-right ul .wrap-contact{
    display: flex;
    align-items: center;
}

.header-top-right ul .wrap-contact i{
    font-size: 27px;
    margin: 10px;
}

.header-top-right ul li{
    list-style: none;
    position: relative;
}

.header-top-right ul li:hover{
    color: blue;
    cursor: pointer;
}

.header-top-right ul .wrap-contact a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    /* bo gach chan the a */
}

.header-top-right ul .wrap-contact p{
    font-weight: lighter;
}

.header-top-right ul li i{
    font-size: 20px;
}

.header-top-right ul li span{
    position: absolute;
    top: -17px;
    right: -13px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #594A4E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* header-bottom */
.header-bottom{
    width: 100%;
    height: 46px;
    background-color: #594A4E;
}

.wrap-header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-bottom-left{
    display: flex;
    align-items: center;
    height: 46px;
}

.header-bottom-left i{
    color: white;
    font-size: 20px;
}

.header-bottom-left p{
    color: white;
    font-size: 15px;
    margin-left: 10px;
    /* viet hoa(text-tranform:upercase) */
}

.header-bottom-center{
    
}

.header-bottom-center ul{
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-between;

}

.header-bottom-center ul li{
    list-style: none;
}

.header-bottom-center ul li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    /* viet hoa chu cai dau tien cua moi tu(text-transform: capitalize */
}

.header-bottom-right{
    text-align:end;
    align-items: center;
    justify-content: center;
}

.header-bottom-right p{
    color: white;
}

.slide-main .owl-carousel .owl-dots{
    margin-top: -30px;
}